<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autograder</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous">
</head>
<body>
  <div id="nav-placeholder"></div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3 class="mb-4">Create new password</h3>
        <form id="uploadForm" enctype="multipart/form-data">
          <div class="form-group">

          <div class="form-group">
            <label for="idInput">New password:</label>
            <input type="password" id="newInput" class="form-control" aria-describedby="passwordHelpInline">
            <span id="passwordHelpInline" class="form-text">
                Must contain at least 8 characters, upper and lower case, symbol or number, hieroglyph, musical note, the feather of a hawk and a drop of unicorn blood.
              </span>
          
          </div>

          <button id="chgPswrd" type="button" class="btn btn-primary mt-3">
            Change password
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  
  <script>
    $(function () {
      $("#nav-placeholder").load("/nav");
    });
  </script>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
  integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
  crossorigin="anonymous"
></script>



<script>
const token = localStorage.getItem("authToken");
if (token){
    $(document).ready(function () {
        $("#chgPswrd").click(function () {

            const new_password = $("#newInput").val();

            fetch(`/change_password_first?new_password=${new_password}`, {
                method: "POST",
                headers: {
                    Accept: "application/json",
                    Authorization: `Bearer ${token}`,
                    "Content-Type": "application/json",
                },
            })
                .then((response) => {
                    if (response.ok) {
                        alert("Password changed successfully");
                        window.location.href = "/mypage";
                    }else if (response.status === 401) {
                        alert("Unauthorized access. Please login again.");
                        window.location.href = "/login";
                    }
                    
                    
                    else {
                        alert("Password change failed");
                    }
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        });
    });
    } else {
    window.location.href = "/login";
    }
</script>
</body>
</html>
