<body>
  <div
    style="
      font-family: Arial, sans-serif;
      margin: 0 auto;
      max-width: 600px;
      padding: 20px;
      background-color: #f4f4f4;
      text-align: center;
    "
  >
    <h1>Welcome to Autograder!</h1>
    <div style="margin-top: 20px; color: #666">
      <p>
        You have been added to automated grading software. Below are your login
        credentials:
      </p>

      <div
        style="
          margin-top: 30px;
          background-color: #fff;
          padding: 15px;
          border-radius: 5px;
          border: 1px solid #ddd;
          text-align: left;
        "
      >
        <p><strong>Login:</strong> <span>{{login}}</span></p>
        <p><strong>Password:</strong> <span>{{temp_password}}</span></p>
      </div>

      <div style="margin-top: 20px"></div>
      <a
        href="https://autograder.in4you.cz/login"
        style="
          display: inline-block;
          padding: 10px 20px;
          background-color: #337ab7;
          color: #fff;
          text-decoration: none;
          border-radius: 5px;
        "
        >Login</a
      >
    </div>

    <div style="margin-top: 20px; color: #ff5722; font-weight: bold">
      <p>
        For security reasons, you will be prompted to change your password at
        first login.
      </p>
    </div>
  </div>
</body>
